<h1>t :mail.title</h1>
<p>t :book.title <%= @rent.book.title %></p>
<p>t :book.genre <%= @rent.book.genre %></p>
<p>t :book.publisher <%= @rent.book.publisher %></p>
<p>t :book.author <%= @rent.book.author %></p>
<p>t :rent.date <%= @today %></p>
<p>t :rent.start <%= @rent.to %></p>
<p>t :rent.end <%= @rent.from %></p>
