<h1>Details of your rent</h1>
<p>Book title: <%= @rent.book.title %></p>
<p>Book genre: <%= @rent.book.genre %></p>
<p>Book publisher: <%= @rent.book.publisher %></p>
<p>Book author: <%= @rent.book.author %></p>
<p>Date: <%= @today %></p>
<p>Start: <%= @rent.to %></p>
<p>End: <%= @rent.from %></p>
